<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SChat.DataAccess.Properties.Settings.chattingConnectionString"
            connectionString="Data Source=LAPTOP-VGM0NCMD;Initial Catalog=chatting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>